@charset "UTF-8";
/*橘黃*/
/*淺粉*/
/*深灰*/
/*深粉*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  font-family: 微軟正黑體;
  /*border: 1px solid green;*/
}

body,
html {
  margin: 0;
  /*font-family: arial;*/
  height: 100vh;
  background: #ffb336;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.nav-mobile {
  /*上面的bar*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #27232F;
  color: #f3f7f7;
  font-weight: 800;
  padding: 0;
  margin: 0;
  cursor: auto;
  font-size: 2vw;
  list-style-type: none;
  z-index: 999999;
  box-shadow: 0 5px 5px -5px #333;
}
.nav-mobile:after {
  content: "";
  display: table;
  clear: both;
}
.nav-mobile svg {
  /*hamburger*/
  height: 58px;
  width: 90px;
  padding: 9px;
}
.nav-mobile svg path {
  fill: #f3f7f7;
}
.nav-mobile svg.icon-close {
  display: none;
  padding: 15px;
}
.nav-mobile li {
  /*bar墊*/
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
}
.nav-mobile li a {
  /*menu字*/
  display: block;
  color: #f3f7f7;
  font-weight: 800;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.nav-mobile li a:hover {
  color: #f3f7f7;
  font-weight: 900;
}
.nav-mobile .menu-button {
  /*menu動畫+背景變黑*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  display: block;
}
.nav-mobile .menu-button:after {
  opacity: 0;
  top: 60px;
  content: "";
  width: 100vw;
  display: block;
  position: fixed;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
  transition-delay: 0.1s;
}
.nav-mobile #menu-toggle {
  display: none;
}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-close, .nav-mobile #menu-toggle:checked ~ .menu-button .icon-close {
  display: block;
}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-open, .nav-mobile #menu-toggle:checked ~ .menu-button .icon-open {
  display: none;
}
.nav-mobile #menu-toggle.active ~ .menu-button:after, .nav-mobile #menu-toggle:checked ~ .menu-button:after {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.nav-mobile #menu-toggle.active ~ .menu-sidebar, .nav-mobile #menu-toggle:checked ~ .menu-sidebar {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.nav-mobile .menu-container {
  /*hamburger的位置*/
  width: 65px;
  float: left;
  cursor: pointer;
  position: absolute;
}
.nav-mobile .menu-container .menu-sidebar {
  /*menu那排*/
  box-shadow: 5px 0 5px -5px #333;
  display: block;
  width: 65vw;
  bottom: 0;
  background: #27232F;
  color: #f3f7f7;
  position: fixed;
  z-index: 9999999;
  transform: translateX(-405px);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  top: 60px;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  /*.arrow {
    position: absolute;
    line-height: 50px;
    font-size: 32px;
    color: #555;
    top: 0;
    z-index: 0;
    &.left {
      left: 25px;
    }
    &.right {
      right: 25px;
    }
  }*/
}
.nav-mobile .menu-container .menu-sidebar li {
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  /*.menu-sub {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    background: white;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
    border-left: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    max-width: 400px;
    li {
      overflow: hidden;
    }
    .menu-sub-title {
      padding-left: 50px;
    }
  }*/
  /* .submenu-label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
  }*/
  /*.submenu-toggle {
    display: none;
    &.active ~ .menu-sub,
    &:checked ~ .menu-sub {
      width: 65vw;
      visibility: visible;
      z-index: 1;
      transition: width 0.35s cubic-bezier(0, 0, 0.3, 1);
    }
  }*/
}
.nav-mobile .menu-container .menu-sidebar li:hover {
  background: #ffb336;
}

.container {
  display: flex;
  /*width: 80%;*/
}

/*---主標題區塊---*/
.bg {
  /*color: $black;*/
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: $red;*/
  background-image: url(https://raw.githubusercontent.com/jkpy3900/Pictures/master/music_band.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  /*border-bottom: 2px solid $black;*/
}

.bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #27232F;
  opacity: 0.75;
  top: 0;
  left: 0;
}

.name {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100vw;
  height: 30vh;
  z-index: 9999999999;
  font-size: 5vw;
  letter-spacing: 1vw;
  color: #f3f7f7;
  padding-top: 40vh;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: absolute;
  width: 40vw;
  height: 1vh;
  background: #ffb336;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.num {
  position: absolute;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 100%;
  height: 100px;
  padding-top: 60vh;
  color: #f3f7f7;
  font-size: 2vw;
  letter-spacing: 1vw;
}

/*---前言區塊---*/
.year {
  position: absolute;
  top: 100vh;
  background: #ffb336;
  /*前言底色*/
  height: 150vh;
  width: 100%;
  z-index: 10;
}

.cloud {
  position: absolute;
  width: 15vw;
  height: 8vh;
  background: #f3f7f7;
  border-radius: 2vw;
}

.cloud.cloud1 {
  top: 10vh;
  left: 5vw;
  animation: c1 2s infinite alternate ease-in-out;
}

.cloud.cloud2 {
  top: 55vh;
  right: 6vw;
  animation: c2 1s infinite alternate ease-in-out;
}

.cloud.cloud3 {
  top: 110vh;
  left: 15vw;
  animation: c3 1s infinite alternate ease-in-out;
}

.intro {
  width: 100vw;
  top: 15vh;
  position: absolute;
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
  color: #27232F;
  line-height: 3vw;
  font-weight: 800;
  text-align: center;
  transform: translate(-50%, -50%);
}

.music_player {
  position: absolute;
  width: 24vw;
  height: 16vh;
  top: 115vh;
  left: 38vw;
  /*transform:translate(-50%,-50%);*/
}

.player {
  position: absolute;
  width: 100%;
  height: 55%;
  background: #27232F;
  border-radius: 1vw;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0vw 1vw 3vw rgba(0, 0, 0, 0.5);
}

.album {
  position: absolute;
  width: 5vh;
  height: 5vh;
  top: 50%;
  left: 10%;
  background: #f3f7f7;
  opacity: 0.75;
  /*border-radius:50%;*/
  transform: translate(-50%, -50%);
}

.album:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 20%;
  background: #27232F;
  border-radius: 50%;
  top: 65%;
  left: 35%;
}

.album:after {
  content: "";
  position: absolute;
  width: 5%;
  height: 60%;
  background: #27232F;
  top: 20%;
  left: 58.5%;
}

.play {
  position: absolute;
  background: #f3f7f7;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  top: 20%;
  left: 70%;
  box-shadow: 0vw 1vw 3vw rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

.pp {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0vw 1vw 3vw rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

.pp a {
  text-decoration: none;
  font-size: 7vh;
  /*text-align:center;*/
  line-height: 8vh;
  opacity: 0;
}

.ppp {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 55%;
  background: transparent;
  border-bottom: 2vw solid #27232F;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  transform: translate(-50%, -50%) rotate(90deg);
}

.song_name {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 20%;
  top: 15%;
  color: #f3f7f7;
  font-size: 1.2vw;
  font-weight: 600;
}

.song_bar {
  position: absolute;
  width: 70%;
  height: 5%;
  top: 65%;
  left: 20%;
  background: #f3f7f7;
  opacity: 0.75;
}

/*---各區塊---*/
.item1 {
  position: absolute;
  top: 250vh;
  width: 100vw;
  height: 400vh;
  background: #f3f7f7;
}

/*
.item2{
  position:absolute;
  top:500vh;
  width:100vw;
  height:300vh;
  background:$gray;
}*/
/*
.item3{
  position:absolute;
  top:750vh;
  width:100vw;
  height:300vh;
  background:$gray;
}*/
.cloudd {
  position: absolute;
  width: 15vw;
  height: 8vh;
  background: #ffb336;
  border-radius: 2vw;
}

.cloudd.cloud1 {
  top: 140vh;
  left: 5vw;
  animation: c1 1s infinite alternate ease-in-out;
}

.cloudd.cloud2 {
  top: 70vh;
  right: 10vw;
  animation: c2 2s infinite alternate ease-in-out;
}

.cloudd.cloud3 {
  top: 160vh;
  right: 22vw;
  animation: c3 1s infinite alternate ease-in-out;
}

.cloudd.cloud4 {
  top: 250vh;
  right: 5vw;
  animation: c4 1s infinite alternate ease-in-out;
}

.cloudd.cloud5 {
  top: 370vh;
  left: 40vw;
  animation: c5 1s infinite alternate ease-in-out;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}

.pic1, .pic2 {
  position: absolute;
  top: 25%;
  left: 65%;
}

/*
.pic3{
  position:absolute;
  top:25%;
  left: 65%;
}
*/
iframe {
  border-radius: 2vw;
  box-shadow: 0px 0.5vh 5vw rgba(0, 0, 0, 0.5);
  width: 72vw;
  height: 40.5vw;
}

.video {
  position: absolute;
  left: 13vw;
  transform: translate(-50%, -50%);
}

.video.v1 {
  top: 155vh;
}

.video.v2 {
  top: 270vh;
}

/*
.video.v3{
  top:110vh;
}
*/
.list {
  position: absolute;
  width: 1vw;
  height: 15vh;
  background: #ffb336;
  top: 15vh;
  left: 10vw;
}

.title1 {
  position: absolute;
  width: 100vw;
  height: 10vh;
  color: #27232F;
  font-size: 3vw;
  font-weight: 800;
  padding-top: 15vh;
  padding-left: 12.4vw;
  letter-spacing: 0.5vw;
}

.title2 {
  position: absolute;
  width: 100vw;
  height: 10vh;
  color: #333333;
  font-size: 2vw;
  font-weight: 800;
  padding-top: 25vh;
  padding-left: 12.5vw;
  letter-spacing: 0.5vw;
}

.info {
  position: absolute;
  width: 50vw;
  color: #27232F;
  font-size: 1.5vw;
  padding-left: 13vw;
  padding-top: 40vh;
  letter-spacing: 0.5vw;
  line-height: 3vw;
  font-weight: 800;
}

/*---右連結---*/
.progress {
  position: fixed;
  left: 80vw;
  top: 15vh;
  display: flex;
  grid-template-rows: 100%;
  grid-template-columns: 2fr 1fr;
  width: 18vw;
  height: 5vw;
  box-sizing: border-box;
}

.intro_bartitle {
  height: 100%;
  display: grid;
  align-content: space-between;
}

.intro_bartitle a {
  color: #4d4d4d !important;
  cursor: pointer;
  margin: 0;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 2vw;
  text-decoration: none;
}

.introbar {
  display: grid;
  justify-items: center;
  align-items: center;
}

.introline {
  height: 94%;
  width: 1px;
  background-color: #27232F;
}

/*---頁尾---*/
.footer {
  position: absolute;
  width: 100vw;
  height: 15vh;
  top: 650vh;
  background: #ffb336;
  text-align: center;
  font-weight: 800;
  font-size: 1vw;
  line-height: 7vh;
}

/*---回頂端按鈕---*/
.to_top {
  position: fixed;
  background: #27232F;
  width: 5vw;
  height: 5vw;
  bottom: 5vh;
  right: 1vw;
  border-radius: 1vw;
  z-index: 15;
  text-align: center;
  opacity: 0.5;
}

.to_top a {
  color: transparent;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
}

.arrow {
  position: absolute;
  width: 10%;
  height: 40%;
}

.arrow.left {
  top: 50%;
  left: 40%;
  background: #f3f7f7;
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrow.right {
  top: 50%;
  left: 61%;
  background: #f3f7f7;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*.toTop-arrow{
  position:fixed;
  background:$black;
  width:5vw;
  height:5vw;
  bottom:5vh;
  right:1vw;
  border-radius:1vw;
  z-index:15;
  text-align:center;
  opacity:0.5;
  border:none;
  cursor:pointer;
}*/
/*---動畫---*/
@keyframes c1 {
  0% {
    left: 5vw;
  }
  100% {
    left: 10vw;
  }
}
@keyframes c2 {
  0% {
    right: 7vw;
  }
  100% {
    right: 4vw;
  }
}
@keyframes c3 {
  0% {
    left: 17vw;
  }
  100% {
    left: 15vw;
  }
}
@keyframes c4 {
  0% {
    right: 5vw;
  }
  100% {
    right: 10vw;
  }
}
@keyframes c5 {
  0% {
    left: 40vw;
  }
  100% {
    left: 45vw;
  }
}
/*---rwd---*/
@media (max-width: 600px) {
  .nav-mobile {
    font-size: 5vw;
  }

  .intro {
    font-size: 2.5vw;
    line-height: 5vw;
    top: 25vh;
  }

  .item1 {
    height: 150vh;
  }

  .item2 {
    top: 350vh;
    height: 150vh;
  }

  .item3 {
    top: 500vh;
    height: 120vh;
  }

  .cloud {
    border-radius: 4vw;
    height: 2vh;
  }

  .cloud.cloud1 {
    top: 20vh;
  }

  .cloud.cloud2 {
    top: 30vh;
  }

  .cloud.cloud3 {
    top: 85vh;
  }

  .cloudd {
    border-radius: 4vw;
    height: 2vh;
  }

  .cloudd.cloud1 {
    top: 100vh;
    left: 20vw;
    animation: cc1 1s infinite alternate ease-in-out;
  }

  .cloudd.cloud2 {
    top: 5vh;
  }

  .cloudd.cloud3 {
    top: 35vh;
    left: 10vw;
    animation: cc3 1s infinite alternate ease-in-out;
  }

  .cloudd.cloud4 {
    top: 108vh;
    right: 10vw;
    animation: cc4 1s infinite alternate ease-in-out;
  }

  .cloudd.cloud5 {
    top: 140vh;
    left: 5vw;
    animation: cc5 1s infinite alternate ease-in-out;
  }

  .video {
    left: 15vw;
  }

  .video.v1 {
    top: 110vh;
  }

  .video.v2 {
    top: 110vh;
  }

  .video.v3 {
    top: 85vh;
  }

  .bg {
    height: 100vh;
  }

  .name {
    font-size: 10vw;
  }

  .num {
    font-size: 5vw;
  }

  .line {
    width: 75vw;
  }

  .title1 {
    font-size: 5vw;
    text-align: center;
    padding-left: 0;
  }

  .list {
    width: 80vw;
    height: 1vh;
    top: 22vh;
  }

  .title2 {
    font-size: 3.5vw;
    text-align: center;
    top: 2vh;
    padding-left: 0;
  }

  .info {
    width: 80vw;
    font-size: 3vw;
    line-height: 6vw;
    left: 5vw;
  }

  .footer {
    top: 620vh;
    height: 5vh;
    font-size: 2vw;
  }

  .to_top {
    width: 15vw;
    height: 15vw;
    border-radius: 5vw;
    right: 3vw;
  }

  .music_player {
    width: 70vw;
    top: 65vh;
    left: 15%;
    transform: translate(-50%);
  }

  .song_name {
    font-size: 2.5vw;
  }
}
/*---rwd動畫---*/
@keyframes cc1 {
  0% {
    left: 20vw;
  }
  100% {
    left: 25vw;
  }
}
@keyframes cc3 {
  0% {
    left: 10vw;
  }
  100% {
    left: 15vw;
  }
}
@keyframes cc4 {
  0% {
    right: 10vw;
  }
  100% {
    right: 15vw;
  }
}
@keyframes cc5 {
  0% {
    left: 5vw;
  }
  100% {
    left: 10vw;
  }
}